*.terraform
*.tfstate.*
*.tfstate
terraform.key.json
*.tfvars
plan
credentials.yml
.history/*
.vscode*
params.yml
.gitig*

ci/variables.txt.edit

ci/variables.txt

ci/variables.txt

ci/variables.txt
*.dbb

.DS_Store
